{% extends 'format.html' %} 

{% block body %} 

 
<section id="home" class="page-section">
  <div class="page-wrap">

    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-one">
               <!-- <h1 style="margin-bottom: 0.7 em;">Welcome!</h1> -->
                <h1 style="color: white;">Welcome! <br>
                <span style="color: white;">to my</span> <br><span class="emphasis" style="color: white;"> Multiverse</span> </h1>
              
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-two">
                <p class="paragraph">
                 
I'm glad destiny brought you to my page. <br>

I'm a student specializing in Web Development, Sunset pics, Allergies and Economics (It's concerning how it is my last point). I like to wear socks and put a stop to thinking. <br>
Thus I consider myself a low-key Supe on a mission to have allworst sleeping schedule possible. 
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-two">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-three">
                <h1>I'm <span class="emphasis">Sadiya</span> <br><span style="color: white;">Shakir.</span></h1>
             
              
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-four">
                <p class="paragraph">
              Pronounced SHAH-Ki-rr, not "SHAH-ki-RAH", "SHay-kay","SHA-GeeR"!
              <br>
              Favorite words: blah, eww, classic, dimag khrb. <br>
              And I kneel at the feet of John Keating. Pure genius. Don't get me started unless you have 20 minutes or more.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-three">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-five" >
                
                <h1>And <span >This is </span><br><span class="emphasis">my First <br> website.</span></h1>
                <p>I made it. <br> Birthed it!</p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-six">
                <p class="paragraph">
                  I love, love, lurrrrrve listening Music. I constantly soak up the newest ones like a bone-dry sea sponge, and try to integrate it with my daily chores like Taylor literally wrote it for me!
                  <br>
                  Do add me by clicking on that ugly Spotify tag!
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
</section> 
<section id="home"  class=" inspectclass page-section">
  <div class="page-wrap">

    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-35%%">
              <div class="swiper-image-inner swiper-image-left swiper-image-two">
                <p class="paragraph">
                 
I'm glad destiny brought you to my page. <br>

I'm a student specializing in Web Development, Sunset pics, Allergies and Economics (It's concerning how it is my last point). I like to wear socks and put a stop to thinking. <br>
Thus I consider myself a low-key Supe on a mission to have all of the worst sleeping schedule possible. 
                </p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-two">
                <p class="paragraph">
                 
I'm glad destiny brought you to my page. <br>

I'm a student specializing in Web Development, Sunset pics, Allergies and Economics (It's concerning how it is my last point). I like to wear socks and put a stop to thinking. <br>
Thus I consider myself a low-key Supe on a mission to try all worst sleeping schedule possible. 
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-two">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-four">
                <p class="paragraph">
              Pronounced SHAH-Ki-rr, not "SHAH-ki-RAH", "SHay-kay","SHA-GeeR"!
              <br>
              Favorite words: blah, eww, classic, dimag khrb. <br>
              And I kneel at the feet of John Keating. Pure genius. Don't get me started unless you have 20 minutes or more.
                </p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-four">
                <p class="paragraph">
              Pronounced SHAH-Ki-rr, not "SHAH-ki-RAH", "SHay-kay","SHA-GeeR"!
              <br>
              Favorite words: blah, eww, classic, dimag khrb. <br>
              And I kneel at the feet of John Keating. Pure genius. Don't get me started unless you have 20 minutes or more.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-three">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-six">
                <p class="paragraph">
                  I love, love, lurrrrrve listening Music. I constantly soak up the newest ones like a bone-dry sea sponge, and try to integrate it with my daily chores like Taylor literally wrote it for me!
                  <br>
               Please do share some good music recommendation down there!
                </p>
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-six">
                <p class="paragraph">
                  I love, love, lurrrrrve listening Music. I constantly soak up the newest ones like a bone-dry sea sponge, and try to integrate it with my daily chores like Taylor literally wrote it for me!
                  <br>
                  Do add me by clicking on that ugly Spotify tag!
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
</section> 

<hr>

<hr>


   <!-- depnapsstart -->
<section class="naps" class="page-section">
<div class="console-container">
<span id="text"></span>
<div class="console-underscore" id="console">&#95;</div>
</div>
</section>
<hr />
<!-- depnapsend -->


<section id="thoughts" class="thoughts" style="display: block;">
<div class="wrapper">
<div class="home-hero">

    <div class="feature" onclick="location.href='/article';">
  <h3 style="color: white;"></h3>
  <p style="color: white; text-align: center; font-size: 2em;"></p>
</div>
<div class="special"  onclick="location.href='/article#art1';">
  <h3 style="color: white; font-size: 2em;">Hasan Raheem</h3>
  <p style="color: white;"></p>

</div>
<div class="amazing"  onclick="location.href='/article#art2';">
  <h3 style="color: white;">You may hate a thing that is good for you.</h3>
  <p style="color: white;"></p>
</div>

<div class="photos"  onclick="location.href='/article#art3';">
  <h3 style="color: white;">It’s 2014, Crocs Are Cool Again!</h3>
  <p style="color: white; margin: auto; padding: auto; text-align: center;">I have quite a few.</p>
</div>
<div class="cta"  onclick="location.href='/article#pnote';">
  <h3 style="color: white; margin: auto; font-size: 2em;  font-family: Merriweather, serif;">On a <br> Personal Note!</h3>
  <!-- <p style="color: white;">So only three of the boxes are filled </p> -->



</div>
</div>
</section><section class="mhide1"></section>
<section class="mhide"></section>
<hr />
<section class="self" style="display: block;">
  <div>
<svg viewBox="0 0 860 250">
<symbol id="s-text">
<text text-anchor="middle" x="50%" y="80%">G.Dobby</text>
<text text-anchor="middle" x="51%" y="80%">G.Dobby</text>
</symbol>

<g class="g-ants">
<use xlink:href="#s-text" class="text-copy"></use>
<use xlink:href="#s-text" class="text-copy"></use>
<use xlink:href="#s-text" class="text-copy"></use>
<use xlink:href="#s-text" class="text-copy"></use>
<use xlink:href="#s-text" class="text-copy"></use>
</g>
</svg></div>
</section>

<hr />


<section id="contact" class="page-section" style="display:block ;">
<div id="container">
<div class="coh1">&bull; Keep in Touch &bull;</div>
<div class="emine">&bull; @sadiyasha14@gmail.com &bull;</div>


<form action=" " method="POST" id="contact_form" onsubmit="return validateForm()">
<!-- {% csrf_token %} -->
{% csrf_token %}
<div class="name">
  <label for="name"></label>
  <input type="text" placeholder="My name is" name="name" id="name_input" required />
</div>
<div class="email">
  <label for="email"></label>
  <input type="email" placeholder="My e-mail is" name="email" id="email_input" required />
</div>
<div class="subject">
  <label for="subject"></label>
  <input type="text" placeholder="My Subject is" name="subject" id="subject_input" required />
</div>
<div class="message">
  <label for="message"></label>
  <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5"
    required></textarea>
</div>
<div class="submit">
  <input type="submit" value="Send Message" id="form_button" />
</div>
</form>
<!-- // End form -->
</div>
<!-- // End #container -->
</section>
{% endblock body %}
