<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="css_file.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <title>Home</title>
  
</head>
<body>
  <div class="navbar">
    <div class="dots">
      <i class="fa-regular fa-circle"></i>
      <i class="fa-solid fa-circle"></i>
      <i class="fa-regular fa-circle"></i>
    </div>
    <div class="title">Gloomy<span class="dobby">Dobby</span></div>
    <ul class="links">

      <li class="navitems"><a href="#home">About</a></li>
      <li class="navitems"><a href="#thoughts">Thought</a></li>
      <li class="navitems"><a href="#contact">Contact</a></li>
      <li class="navitems ">  <a href=""><i class="fab fa-spotify"></i>Spotify</a></li>
    </ul>
    <button><i class="fa-solid fa-bars"></i></button>
    <ul class='hidden-links hidden'></ul></div>
    <!-- <div class="spot">
      <a href=""><i class="fab fa-spotify"></i>Spotify</a>
    </div> -->
  <!-- <nav class='navbar'>
    <h1>GreedyNav</h1>
    <ul class='links'>
      <li><a href='#'>navbar</a></li>
      <li><a href='#'>that</a></li>
      <li><a href='#'>handles</a></li>
      <li><a href='#'>overflowing</a></li>
      <li><a href='#'>menu</a></li>
      <li><a href='#'>elements</a></li>
      <li><a href='#'>effortlessly</a></li>
    </ul>
    <button>MENU</button>
    <ul class='hidden-links hidden'></ul>
  </nav> -->
 
<script>
  $(function() {

var $nav = $('.navbar');
var $btn = $('.navbar button');
var $vlinks = $('.navbar .links');
var $hlinks = $('.navbar .hidden-links');

var numOfItems = 0;
var totalSpace = 0;
var breakWidths = [];

// Get initial state
$vlinks.children().outerWidth(function(i, w) {
  totalSpace += w;
  numOfItems += 1;
  breakWidths.push(totalSpace);
});

var availableSpace, numOfVisibleItems, requiredSpace;

function check() {

  // Get instant state
  availableSpace = $vlinks.width() - 10;
  numOfVisibleItems = $vlinks.children().length;
  requiredSpace = breakWidths[numOfVisibleItems - 1];

  // There is not enought space
  if (requiredSpace > availableSpace) {
    $vlinks.children().last().prependTo($hlinks);
    numOfVisibleItems -= 1;
    check();
    // There is more than enough space
  } else if (availableSpace > breakWidths[numOfVisibleItems]) {
    $hlinks.children().first().appendTo($vlinks);
    numOfVisibleItems += 1;
  }
  // Update the button accordingly
  $btn.attr("count", numOfItems - numOfVisibleItems);
  if (numOfVisibleItems === numOfItems) {
    $btn.addClass('hidden');
  } else $btn.removeClass('hidden');
}

// Window listeners
$(window).resize(function() {
  check();
});

$btn.on('click', function() {
  $hlinks.toggleClass('hidden');
});

check();

});



</script>
</body>
</html>