
{% extends 'format.html' %} 

{% block body %} 

<div class="artcon">
<div class="article">
  <!-- <h1 class="posttitle" style="color: black;  z-index:99 ;">Writings</h1>
  <p class="dateup">
    <strong><em>September 5th, 2022</em> Last Updated</strong>
  </p>   -->
  <p class="atrh1"style="  margin-bottom: 0.3em;" >Writings</p>
  <p class="dateup" style="text-align: center; margin-bottom: 10px;">
    <strong><em>September 5th, 2022</em> </strong>
   
  </p> 
  <p style="text-align: center; text-transform: uppercase; font-size: .7em;">   <strong> Last Updated</strong></p>
  <h2 class="artitle" id="art1">Hasan Raheem</h2>

  <!-- <p>
    <img
      src="https://images.pexels.com/photos/378271/pexels-photo-378271.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="cherry blossoms"
      style=" 
        width: 100%;
        margin-top: -10%;
      "
    />
  </p> -->
  
  <img src="/static/hasan.webp" style="max-height: 100vh ; width: 70%; margin: 4px auto;" alt="" />
  <!-- <blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis fringilla dolor, a sollicitudin turpis posuere elementum.</p>
  </blockquote> -->
  <p class="fontt">
    Last year, I came across the multi-hyphenate, Hasan Raheem &#8211; the
    artist through a small concert that recently went viral over the internet
    for being organised during Covid times. That video was as random as his
    entry into the music scene - there's nothing, absolutely nothing planned
    about his arrival, but one look at his numbers and the number of tracks he
    throws every now then is enough to know that he is here to stay.
  </p>
  <p class="fontt">
    Well, clearly it wasn&#39;t the best time to gather a crowd, however
    (secretly I&#39;m glad he did) because now I&#39;m hooked to each and every
    song of Hasan Raheem.Hasan still getting accustomed to screaming fans and
    over-pouring affection.
  </p>
  <p class="fontt">
    Was this the first time I heard Hasan Raheem drown me in an abyss created by
    his effortlessly strained, but vibing voice? No, I realised I was already a
    fan of a snippet of “Aisay Kaisay” that I had once heard on Instagram, and
    look at me now, I&#39;m writing this to why you should be going gaga over
    this talented boy from Gilgit-Baltistan, who by the way is a very cool
    doctor in the making!(Dr. He Is!!!)
  </p>
  <p class="fontt">
    His take on soul, rnb and indie music in a pool that&#39;s brimming with pop
    and pop rock music Pakistani artists, Hasan Raheem is like a breath of fresh
    air (and kinda somewhere in the zone of the likes of Shamoon Ismail, no?) I
    love them both.
  </p>
  <p class="fontt">
 <i> Aisay Kaisay </i>is the very first song that introduced me to Hasan
    Raheem and of the major reasons why it&#39;s still on repeat. (8 Aisay
    Kaisay repeats on my clg route)"Oh, Aisay Kaisay is that one track that is
    closest to me," he comments. "It was shot in one take - the first take. I
    just really like the whole feel to it.”I too like it alot.From the subtle
    shifts to the sounds and the way he plays around in that pink hoodie kinda
    ropes me in:)
  </p>
  <p>
    <em >Have something to add to the story? Share it in the contact form. </em>
  </p>
  
  <h2 class="artitle"  id="art2">You may hate a thing that is good for you</h2>
  <!-- <p>
    <img
      src="https://images.pexels.com/photos/378271/pexels-photo-378271.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="cherry blossoms"
      style=" 
        width: 100%;
        height: 100vh;
        margin-top: -10%;
      "
    />
  </p> -->
  <!-- <p class="fontt">
    Having that void in your heart can be painful. The one that doesn&#39;t quite
    feel right—like something is missing, but you just can&#39;t seem to put your
    finger on what; it is borderline painful. I felt it too. Days pass by, you
    don&#39;t like to see or be around family or friends, you can&#39;t focus at work,
    you don&#39;t quite feel like eating anything. Depression? Anxiety? No, no; it
    is a disease and needs to be treated, but not a tangible disease, no—it is a
    spiritual one.
  </p> -->
  <img src="/static/quran.webp" style="max-height: 80vh;width: 65vw; margin: 4px auto;" alt="image not found" />
  <blockquote>
    I was convinced by the ayah that says: “You may dislike something although
    it is good for you, or like something, although it is bad for you” &#8211;
    Qur&#39;an (2:216)
  </blockquote>
  
  <p class="fontt">
    Having that void in your heart can be painful. The one that doesn&#39;t quite
    feel right—like something is missing, but you just can&#39;t seem to put your
    finger on what; it is borderline painful. I felt it too. Days pass by, you
    don&#39;t like to see or be around family or friends, you can&#39;t focus at work,
    you don&#39;t quite feel like eating anything. Depression? Anxiety? No, no; it
    is a disease and needs to be treated, but not a tangible disease, no—it is a
    spiritual one.
  </p>
  <p class="fontt">
    The only thing that was steady during certain awful time was my prayers;
    even after all those feelings of loss, I kept up with my prayers. I
    didn&#39;t let that go because deep down I knew the tough days would pass
    with the help of Allah (SWT).But the time awaited.I knew He would guide
    me—He is Al Hadiy and Ar Rashid. I knew He loved people who were committed
    to Him. “God loves those who are steadfast” &#8211; Quran (3:146). Deep
    down, I knew Allah (SWT) tests those whom He loves, and clearly He was
    testing me because He loves me. The thing I hated, that pain that sorrow and
    darkness, led me to be closer to him; those dark days brought me the
    greatest gift.
  </p>

  <p class="fontt">
    <em style="margin-bottom: 1.5em;">Have something to add to the story? Share it in the contact form. </em>
  </p>

  
  <h2 class="artitle"  id="art3">It&#39;s 2014, Crocs Are Cool Again!</h2>
  <!-- <p>
    <img
      src="https://images.pexels.com/photos/378271/pexels-photo-378271.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="cherry blossoms"   style=" 
      width: 100%;
      margin-top: -10%;
    "
    />
  </p> -->

  <img src="/static/crocs.avif" style="max-height: 80vh; margin: 4px 2px;" alt="" />
  <p class="fontt">
    Crocs are cool? How the hell did that happen? This past year, in the midst
    of the pandemic and an economic downturn that hurt nearly every industry,
    the brand everyone loves to hate saw their strongest revenue in history.
  </p>
  <p class="fontt">
    After their early-aughts heyday, Crocs suffered. In 2008, with “mountains of
    shoes and no one to buy them,” Crocs suffered a loss of $185 million
    (Washington Post). The novelty of the rubber clogs wore off, and Crocs
    slipped from our radar. Until recently.
  </p>
  <p class="fontt">
    The Crocs Effect is being felt even outside the company&#39;s comfy foam walls.
    Over the past couple of years, labels like Gucci experimented with a Crocs
    look alike. The new Yeezy Foam Runner, with its foam construction and
    Swiss-cheese design, appears to be heavily indebted to the Croc. Imagine
    sticking a Jibbitz shaped like one of Kanye&#39;s SHERP ATVs into one of those
    perforations. Perfection!
  </p>
  <p  class="fontt">
    I think Crocs is really the platonic ideal of a pandemic shoe: they slip on
    and off easily and, for despite the misgivings anyone might have about how
    they look, are undeniably comfortable as hell.
  </p>
  <p>
    <em>Have something to add to the story? Share it in the contact form. </em>
  </p>
  <h2 class="artitle"  id="pnote">On a Personal Note!!</h2>
  <img src="/static/unnamed.jpg" style="max-height: 50vh;max-width: 50vw; margin: 2px auto;border-radius: 50%;" alt="" />

<!--   
  <p>
    <img
      src="https://images.pexels.com/photos/378271/pexels-photo-378271.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt="cherry blossoms"   style=" 
      width: 100%;
      margin-top: -10%;
    "
    />
  </p> -->
  <p></p>
  <p class="fontt">
    I started to feel like a true professional: when I registered this domain “gloomydobby.com”. I don&#39;t know how to stop this feeling.
  </p>
  <p class="fontt">
  If I ever sent you a voicenote of 00:47 secs about how it&#39;s better to keep &#39;sadiyashakir&#39; then &#39;gloomydobby&#39; , explaining how I don&#39;t want to protrait myself as a SAD person online but there&#39;s a back story to "DOBBY" which I don&#39;t want to leave and gloomy sounds like something I would make or maybe not,just let me keep "sadiyashakir" but the day I thought of it I was like it&#39;s going to be MY Domain(For no reason at all!), nevertheless then this site is for you.

  </p>
  <p class="fontt">
    I had so many ideas for this: collection of all my friend&#39;s sky pics , music sharing site or something filled with my memojis. This boring writing thing was the safest option of all.
    IDK maybe in future this site will get renovated of some sort or maybe not. Though someone told me to write about Water because I dedicated a grid block for Hasan. Same old bland taste joke.Huh!
 

  <p class="fontt">
    Lastly, I&#39;m very aware that it&#39;s hard to write about yourself. It can be really difficult to figure out just how to put into words what you do, what your passions are, and how you can help others.
BLAH BLAH BLAHHH.. Writings all these About-Me text and content in Thoughts was a tiresome process and i don&#39;t hope to do that again.If you thought it&#39;s not ME or the fact that i&#39;m flexing here, in my defense, i truly had no skill to brag about......
    
  </p>
  <p class="fontt">
    In the near future, I&#39;ll be publishing another article that&#39;ll tackle this problem or maybe some other obsession of mine.  </p>
 
    <p>
      <em>I&#39;m not crying, you are! </em>
    </p>

  <h3 id="all-the-good-stuff-is-in-these-paragraphs">Hey!</h3>

  <p>
    Idk whether you have read those peices or not! But just asking THEY ARE NOT
    REALLY MINE! My brain stopped processing after I told him to start writing.
    It went blank and led to 2-week delay in this site which is not how I
    intended it to work.Trust me!
  </p>
</div></div>
{% endblock body %}
