<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> <link rel="stylesheet" href="css_file.css">
</head>
<body>
  <!-- <section class="section" id="contact">
    <form action="" name="contactForm" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Contact me</h2>
                <input type="text" class="field" placeholder="Your Name" name="name">
                <input type="text" class="field" placeholder="Your Email" name="email">
                <input type="text" class="field" placeholder="Phone" name="phone">
                <textarea placeholder="Message" class="field" name="message"></textarea>
                <button class="btn">Send</button>
            </div>
        </div>
    </form>
</section> -->
  <!-- contactstart -->
  <section id="contact" class="page-section">
    <div id="container">
      <div class="coh1">&bull; Keep in Touch &bull;</div>


      <form action="" method="POST" id="contact_form" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="name">
          <label for="name"></label>
          <input type="text" placeholder="My name is" name="name" id="name_input" required />
        </div>
        <div class="email">
          <label for="email"></label>
          <input type="email" placeholder="My e-mail is" name="email" id="email_input" required />
        </div>
        <div class="subject">
          <label for="subject"></label>
          <input type="text" placeholder="My Subject is" name="subject" id="subject_input" required />
        </div>
        <div class="message">
          <label for="message"></label>
          <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5"
            required></textarea>
        </div>
        <div class="submit">
          <input type="submit" value="Send Message" id="form_button" />
        </div>
      </form>
      <!-- // End form -->
    </div>
    <!-- // End #container -->
  </section>
  
  <script>
    function validateForm(){
        let name = document.forms['contactForm']['name'].value;
        let email = document.forms['contactForm']['email'].value;
        let subject = document.forms['contactForm']['subject'].value;
        let message = document.forms['contactForm']['message'].value;
  
        if (name == '' || hasNumber(name)){
            alert('Name must be filled out and must only contain letters');
            return false;
        } else if (email == '' && subject == ''){
            alert('Email or Subject must be filled out');
            return false;
        } else if (!(email.includes('@'))){
            alert('Email does not seem to be valid');
            return false;
        }
        else if (message == ''){
            alert('Message must be filled out');
            return false;
        } else {
            // confirm or cancel
            return confirm('Do you really want to sent the message?')
        }
      }
  
    function hasNumber(myString) {
        return /\d/.test(myString);
    }
  </script>
</body>
</html>