<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css_file.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body> 
    
    <section id="home" class="page-section">
        <div class="page-wrap">
    
          <div id="home-slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-one">
                  <div class="swiper-image" data-swiper-parallax-y="-20%">
                    <div class="swiper-image-inner swiper-image-left swiper-image-one">
                      <h1>A <span class="emphasis">Breath</span>. <br><span>Of Fresh Air.</span></h1>
                      <p>Chapter I, page XV</p>
                    </div>
                  </div>
                  <div class="swiper-image" data-swiper-parallax-y="35%">
                    <div class="swiper-image-inner swiper-image-right swiper-image-two">
                      <p class="paragraph">
                        A Prophet sat in the market-place and told the fortunes of all who cared to engage his services.
                        Suddenly there came running up one who told him that his house had been broken into by thieves, and
                        that they had made off with everything they could lay
                        hands on.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-two">
                  <div class="swiper-image" data-swiper-parallax-y="-20%">
                    <div class="swiper-image-inner swiper-image-left swiper-image-three">
                      <h1>The <span class="emphasis">Drop</span>. <br><span>Of Eternal life.</span></h1>
                      <p>Chapter II, page VII</p>
                    </div>
                  </div>
                  <div class="swiper-image" data-swiper-parallax-y="35%">
                    <div class="swiper-image-inner swiper-image-right swiper-image-four">
                      <p class="paragraph">
                        A thirsty Crow found a Pitcher with some water in it, but so little was there that, try as she
                        might, she could not reach it with her beak, and it seemed as though she would die of thirst within
                        sight of the remedy.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-three">
                  <div class="swiper-image" data-swiper-parallax-y="-20%">
                    <div class="swiper-image-inner swiper-image-left swiper-image-five">
                      <h1>A <span class="emphasis">Sense</span>. <br><span>Of Things to Come.</span></h1>
                      <p>Chapter III, page XI</p>
                    </div>
                  </div>
                  <div class="swiper-image" data-swiper-parallax-y="35%">
                    <div class="swiper-image-inner swiper-image-right swiper-image-six">
                      <p class="paragraph">
                        Every man carries Two Bags about with him, one in front and one behind, and both are packed full of
                        faults. The Bag in front contains his neighbours’ faults, the one behind his own. Hence it is that
                        men do not see their own faults, but never fail to see
                        those of others.
                      </p>
                    </div>
                  </div>
                </div>
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
    
        </div>
      </section>  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
   <script>
      // home
  var mySwiper = new Swiper(".swiper-container", {
      direction: "vertical",
      loop: true,
      pagination: ".swiper-pagination",
      grabCursor: true,
      speed: 1000,
      paginationClickable: true,
      parallax: true,
      autoplay: false,
      effect: "slide",
      mousewheelControl: 1
    });
    </script>
</body>
</html>